/* RESET CSS */

* {
    margin: 0rem;
    padding: 0rem;
}

html {
    font-size: 62.5%;
}

/* --------------------------------------------------------------------- */
/* ESTILOS GENERALES */
main {
    background-color: #F7F4E7;
    padding: 5rem 10rem 15rem 10rem;
}

h1 {
    color: #FCFCFC;
    font-size: 6rem;
    font-family: 'Tilt Prism', cursive;
}

h2 {
    color: #121212;
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: #121212;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
}

h6 {
    color: #FCFCFC;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin: 0rem;
}

a {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding: 0rem 1rem;
}

input {
    font-family: 'Roboto', sans-serif;
}

textarea {
    color: gray;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}

.link-button {
    font-family: 'Roboto', sans-serif;
    background-color: #7AA874;
    border: #50704C solid 2px;
    border-radius: 70px;
    margin: 0rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    box-shadow: 0px 5px 10px #121212;
}

.link-button a {
    color: #FCFCFC;
    font-family: 'Roboto', sans-serif;
}

.up-section {
    background-color: #F7F4E7;
    display: flex;
    justify-content: space-between;
    padding: 0rem 4.5rem 0rem 0rem;
}

.mapa-link {
    color: #121212;
    padding: 0rem 3rem 0rem 3rem;
}

.mapa-link:hover {
    text-decoration: underline #121212 solid 1px;
}

@media (min-width: 450px) and (max-width: 600px) {
    main {
        padding: 5rem 2.5rem 5rem 2.5rem;
    }
    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    .mapa-link {
        padding: 0rem 1rem;
    }
}

/* --------------------------------------------------------------------- */
/* ESTILOS DEL FOOTER */

footer {
    background-color: #675D50;
    color: #FCFCFC;
}

.footer-h6 {
    text-decoration: underline #FCFCFC solid 1.5px;
}

.footer-b {
    background-color: #463f37;
    font-weight: bolder;
}

.footer_section1 {
    display: flex;
    justify-content: space-between;
    padding: 5rem 7rem 3rem 7rem;
}

.footer-derechos_article {
    padding-top: 2.5rem;
}

.footer_logos_container {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem;
}

.footer-icon {
    height: 3rem;
}

.footer_section2 {
    padding: 0rem 7rem 5rem 7rem;
}

.footer_article2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link-uade_footer {
    color: #FCFCFC;
}

.link-uade_footer:hover {
    text-decoration: underline #FCFCFC solid 1px;
}

@media (min-width: 450px) and (max-width: 600px) {
    .footer-h6 {
        text-align: center;
    }
    .footer_section1 {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .footer-derechos_article {
        padding-top: 0rem;
    }
    .footer_section2 p {
        text-align: justify;
    }
    .footer_section2 .footer-h6 {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .footer_logos_container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

/* --------------------------------------------------------------------- */
/* ESTILOS DEL HEADER */

header {
    background-color: #7AA874;
    border-bottom: #50704C solid 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
}

.logo-header {
    height: 15rem;
}

nav {
    background-color: #7AA874;
    border-bottom: #50704C solid 3px;
    position: sticky;
    top: 0rem;
    z-index: 2;
}

.ul-nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem 1rem 0rem;
    margin-bottom: 0rem;
}

.nav-link {
    color: #FCFCFC;
    font-size: 3rem;
}

.nav-link:hover {
    color: #FCFCFC;
}

.nav_li:hover {
    background-color:#50704C;
}

.actual_link {
    background-color: #638f5d;
}

/* --menu responsive */

.burger {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #7AA874;
}

.abrir_menu {
    border: none;
    display: none;
}

.cerrar_menu {
    border: none;
    display: none;
}

.nav-botontes_container {
    display: none;
    padding: 3rem;
}

.ocultar {
    display: none;
    opacity: 1;
    visibility: hidden;
}

.mostrar {
    display: block;
    opacity: 1;
    visibility: visible;
}

.h-40rem {
    height: 40rem;
}

@media (min-width: 450px) and (max-width: 600px) {
    .logo-header {
        height: 10rem;
    }
    nav {
        height: 9rem;
    }
    nav ul {
        flex-direction: column;
        justify-content: space-around;
        gap: 1.5rem;
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    nav ul li {
        width: 100%;
        background-color: #63925d;
        border-radius: 10px;
        padding: 1rem;
    }
    .ul-nav li {
        display: flex;
        justify-content: center;
    }
    .nav-botontes_container {
        display: block;
    }
    .abrir_menu {
        display: block;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ESTILOS DEL INDEX */

/* ---------------generales--------------- */
.index_h3 {
    text-decoration: underline #121212 solid 2.5px;
}

/* -----forest section----- */
.index-forest_section {
    background-image: url(../img/forest.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-forest_article {
    background-color: #FCFCFC;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15rem 0rem 15rem 0rem;
    padding: 7rem 5rem 7rem 5rem;
}

.index-forest_h2 {
    text-decoration: underline #121212 solid 2.5px;
}

.index-forest_cont {
    color: #7AA874;
    text-shadow: 0px 5px 10px #121212;
    padding: 3rem 0rem 3rem 0rem;
}

.index-forest_text {
    font-size: 3rem;
}

.index-forest_subtext_container {
    width: 65%;
    text-align: center;
    padding-top: 3rem;
}

/* -----acercade section----- */
.index-acercade_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 5rem 5rem 5rem;
}

.index-acercade_text_container {
    width: 65%;
    text-align: justify;
    padding: 3rem 0rem 5rem 0rem;
}

/* -----productos section----- */
.index-productos_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem 5rem 0rem;
}

.index-productos_article {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5rem 25rem;
}

.index_producto_container {
    background-color: #D4CEB2;
    height: 45rem;
    width: 37rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.index-productos_textbutton_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

/* -----contacto section----- */
.index-contacto_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem 0rem 0rem;
}

.index-contacto_text_article {
    text-align: center;
    padding: 2.5rem 0rem 2.5rem 0rem;
}

.contacto-button {
    margin-top: 5rem;
}

.index-arrow_img {
    height: 2.5rem;
}

@media (min-width: 450px) and (max-width: 600px) {
    .index-forest_article {
        border-radius: 0px;
    }
    .index_h3 {
        font-size: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .index-forest_text {
        font-size: 2.5rem;
    }
    .index-productos_article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2.5rem;
        margin-bottom: 5rem;
    }
    .index-productos_textbutton_container div p {
        text-align: center;
    }
    .index_producto_container {
        padding: 25rem 0rem;
    }
    .index-acercade_section p {
        width: 100%;
    }
    .index-acercade_section {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width: 517px) {
    .index-forest_text {
        font-size: 2.25rem;
    }
}

@media (max-width: 476px) {
    .index-forest_text {
        font-size: 2rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ESTILOS DE LA TIENDA */

/* -----mapa de arriba----- */

.carrito_button {
    height: 6rem;
    width: 6rem;
    border-radius: 15px;
    background-color: #F7F4E7;
    border: none;
    padding: 1rem;
}

.carrito_button:hover {
    background-color: #c7c2ad;
}

.carrito {
    height: 4rem;
}

/* -----carrito section----- */

.carrito_section {
    width: 70rem;
    height: 336rem;
    background-color: #A19C81;
    border: #747059 solid 2px;
    position: absolute;
    top: 1;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;
    align-items: center;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 2;
    padding: 10rem 5rem 0rem 5rem;

    opacity: 0;
    visibility: hidden;
}

.cerrarYh3-carrito_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cerrar-carrito_button {
    height: 2.5rem;
    border: none;
}

.cruz_cerrar-img {
    height: 100%;
    background-color: #A19C81;
}

.vaciar-carrito_button_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.vaciar-carrito_button {
    background-color: #d3cda5;
    border: #615e4a solid 2px;
    border-radius: 70px;
    margin: 0rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    box-shadow: 0px 5px 10px #121212;
}

.comprar-carrito_button {
    background-color: #d3cda5;
    border: #615e4a solid 2px;
    border-radius: 70px;
    margin: 0rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    box-shadow: 0px 5px 10px #121212;
}

.h3-carrito_div h3 {
    text-decoration: underline solid #121212 2px;
    font-weight: bolder;
}

.carrito-total_container {
    width: 100%;
    background-color: #c2bd9b;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    padding: 1rem;
}

.total-p {
    font-size: 2.5rem;
    font-weight: bold;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.li_js {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: start;
    padding: 1.5rem 0rem;
}

/* ------main section----- */

.tienda_main-section {
    display: flex;
    justify-content: space-between;
    padding: 10rem 25rem 0rem 25rem;
}

.tienda-h2_container {
    text-decoration: underline #121212 solid 2px;
    padding-bottom: 2rem;
}


/* -----productos section----- */

.tienda_productos_article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.tienda_productos_div1-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tienda_producto_container {
    background-color: #D4CEB2;
    height: 70rem;
    width: 37rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product-img_container {
    height: 37rem;
    width: 30rem;
    padding-top: 2rem;
    z-index: 2;
}

.product-img {
    height: 100%;
}

.product_name {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1.5rem;
    text-decoration: underline #121212 solid 1.5px;
}

.product_price {
    font-size: 2rem;
    padding: 1.5rem 0rem;
}

.carrito-button_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0rem 0rem 1.5rem 0rem;
}

.carrito-button {
    background-color: #A19C81;
    border: #747059 solid 2px;
    border-radius: 70px;
    margin: 0rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    box-shadow: 0px 5px 10px #121212;
}

.carrito-button_text {
    color: #FCFCFC;
}

.carrito_responsive {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
}

@media (min-width: 450px) and (max-width: 600px) {
    .up-section {
        align-items: center;
        padding: 0rem;
    }
    .tienda_main-section {
    padding: 5rem 5rem 5rem 5rem;
    }
    .tienda_productos_div1-3 {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 550px) {
    .tienda_producto_container {
        height: 60rem;
        width: 30rem;
    }
    .product-img {
        height: 75%;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ESTILOS DEL ACERCA DE */

.acercade_section {
    padding-top: 2.5rem;
}

.acerca-h2_container {
    display: flex;
    justify-content: center;
    text-decoration: underline #121212 solid 2px;
    padding: 2.5rem 0rem 5rem 0rem;
}

.acerca-text1_container1 {
    padding: 5rem 10rem 1.5rem 10rem;
}

.acerca-text1_container2 {
    padding: 1.5rem 10rem 5rem 10rem;
}

.acerca-text {
    text-align: justify;
}

.acerca-text2_container {
    padding: 0rem 30rem 0rem 30rem;
}

.acerca-final_container {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0rem 5rem 0rem;
}

.acerca_flecha {
    height: 15rem;
}

@media (min-width: 450px) and (max-width: 600px) {
    .acerca-text1_container1 {
        padding-top: 0rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .acerca-text1_container2 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .acerca-h2_container h3 {
        font-size: 3rem;
    }
    .acerca-text2_container {
        padding: 0rem 5rem;
    }
    .acerca-final_container {
        padding-bottom: 10rem;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ESTILOS DEL CONTACTO */

.contacto_section {
    display: flex;
    justify-content: space-between;
    padding: 15rem 15rem 5rem 15rem ;
}

.contacto-img {
    height: 70rem;
    border: #121212 solid 1px;
    border-radius: 15px;
}

.form-title_container {
    display: flex;
    justify-content: center;
}

.form_title {
    text-decoration: underline #121212 solid 1.5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem 15rem 5rem 5rem;
}

.form-label {
    font-size: 3.5rem;
    text-decoration: underline #121212 solid 1.5px;
    padding: 2.5rem 0rem 1rem 0rem;
}

.label_container {
    display: flex;
    flex-direction: column;
}

.form_input {
    height: 4rem;
    width: 70rem;
    font-size: 2rem;
    padding-left: 1rem;
}

.form-buttons_container {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 3rem;
}

.form_button {
    color: #FCFCFC;
    font-size: 1.5rem;
    background-color: #7AA874;
    border: #50704C solid 2px;
    border-radius: 70px;
    margin: 0rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    box-shadow: 0px 5px 10px #121212;
}

.form_button:hover {
    color: #FCFCFC;
    background-color: #7AA874;
    border: #50704C solid 2px;
}

.form_button_actual {
    color: #FCFCFC;
    background-color: #50704C;
    border: #50704C solid 2px;
}

.despliegue {
    padding: 3rem 0rem;
}

.unirse_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.subform-label {
    font-size: 3rem;
    text-decoration: underline #121212 solid 1.5px;
    padding: 2rem 0rem 1rem 1rem;
}

.subform_input {
    width: 75%;
    font-size: 2rem;
    padding: 1rem 0rem 1rem 1.5rem;
}

.productos_ofrece {
    width: 75%;
    font-size: 2rem;
    padding: 1rem 0rem 1rem 1.5rem;
}

.final-buttons_container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem 0rem 0rem;
}

.final-form_button {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.final-form_button:checked {
    color: #FCFCFC;
    background-color: #7AA874;
    border: #50704C solid 2px;
}

.opinion_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 450px) and (max-width: 600px) {
    .contacto_section {
        display: block;
        padding: 5rem 5rem 2.5rem 5rem ;
    }
    .contacto-img {
        display: none;
    }
    .formulario {
        width: 100%;
        align-items: center;
        padding: 0rem;
    }
    .label_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .form-label {
        width: 100%;
        font-size: 2rem;
        text-decoration: underline #121212 solid 1.5px;
        padding: 2.5rem 0rem 1rem 0rem;
    }
    .form_input {
        height: 4rem;
        width: 100%;
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    .subform-label {
        font-size: 2rem;
    }
    .subform_input {
        font-size: 1.5rem;
    }
    .productos_ofrece {
        font-size: 1.5rem;
    }
    textarea {

    }


    
    .final-form_button {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    
    .opinion_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}